{% extends 'base.html.twig' %}

{% block body %}
    <table class="ui green table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Location</th>
                <th>Current reader</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
                <tr>
                    <td><a href="{{ path('app_books_show', { 'id': book.id }) }}">{{ book.title }}</a></td>
                    <td>{{ book.author }}</td>
                    <td>
                        {{ book.location }}
                        (<a href="#" data-modal-trigger="book-location:{{ book.id }}">change</a>)
                        {{ render(controller(
                            'App\\Controller\\BooksController::updateLocation',
                            { 'id': book.id }
                        )) }}
                    </td>
                    <td>
                        {% if book.isBorrowed %}
                            {{ book.currentReader.username }}
                        {% else %}
                            <a href="{{ path('app_books_borrow', { 'id': book.id }) }}" class="ui primary button">Borrow</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
