{% extends 'base.html.twig' %}

{% block body %}
    <h1>Welcome to the Books Manager!</h1>
    <h2>Borrowed books:</h2>
    <table class="ui green table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Location</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td><a href="{{ path('app_books_show', { 'id': book.id }) }}">{{ book.title }}</a></td>
                <td>{{ book.author }}</td>
                <td>
                    {{ book.location }}
                    (<a href="#" data-modal-trigger="book-location:{{ book.id }}">change</a>)
                    {{ render(controller(
                        'App\\Controller\\BooksController::updateLocation',
                        { 'id': book.id }
                    )) }}
                </td>
                <td>
                    <a href="{{ path('app_books_return', { 'id': book.id }) }}" class="ui primary button">Return</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
